@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster&family=Shadows+Into+Light&family=Tulpen+One&display=swap');

$primary-color:"red";
$secondary-color:"blue";
$light:"blue";
$font-primary:"black";
$font-secondary:"gray";

$text1:"Kaushan Script", cursive, sans-serif;
$text2:"Lobster", cursive, sans-serif;
$text3:"Tulpen One", cursive, sans-serif;
