@import "./colors.scss";

.main{
    background-color: $primary-color;
    height: 92vh;
    display: flex;
}


.homeQuote{
    background-color: $primary-color;
    font-family: $text2;
    
}

.loading{
    font-family: $text3;

}