.navbar{
    background-color: black;
    color: white;
    >nav>ul{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        >li{
            list-style: none;
        }
    }
}
