.navbar{
    background-color: black;
    color: white;
    height: 2.5rem;
    width: 100%;
    >nav>ul{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 10px;
        >li{
            list-style: none;
        }
    }
}
