@import "./colors.scss";


.bgImgMain{
    background-image: url("img4.jpg");
}

.main{
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    padding-bottom: 15rem;
}


.quote{
    width: 80%;
    min-height: 38%;
    color: white;
    font-weight: 300;
    font-family: $text2;
    border: 2px solid white;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 38px;
    padding: 2rem;
    background-color: rgb(80, 80, 80,.4);
    word-spacing: 4px;
    >button{
        height: 3rem;
        width: 7rem;
        border-radius: 2rem 4rem;
        font:200 1.2rem $text2;
        transition: all 0.3s ease-in-out;
       &:hover{
           cursor: pointer;
            background-color: aquamarine;
            background: transparent;
            box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                        -4px -4px 6px 0 rgba(116, 125, 136, .2), 
              inset -4px -4px 6px 0 rgba(255,255,255,.5),
              inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
            color: #fff;
       }
    }
    >.author{
        font-size: 1rem;
        margin: 1rem;
        padding: 0.5rem;
        letter-spacing: 1.5px;
        font: 500 1.5rem $text3;
    }
}

.loading{
    font-family: $text3;
    color: white;
    border: 2px solid white;
    border-radius: 2rem 3rem;
    font-size: 2.5rem;
    padding: 2rem;
}

// fitness background
.bgImgFitness{
    background-image: url("img2.jpg") ;
}

// inspirational background
.bgImgInspirational{
    background-image: url("img5.jpg");
}