@import "./colors.scss";

.main{
    background-color: $primary-color;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("img3.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}


.homeQuote{
    color: white;
    font-weight: 300;
    font-family: $text2;
    border: 2px solid white;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1.5px;
    padding: 3rem;
    background-color: rgb(80, 80, 80,.4);
    word-spacing: 4px;
    >button{
        margin-top: 2rem;
        height: 3rem;
        width: 6rem;
        border-radius: 2rem 4rem;
       &:hover{
           cursor: pointer;
            background-color: aquamarine;
       }
    }
    >.author{
        font-size: 1rem;
        margin: 1rem;
    }
}

.loading{
    font-family: $text3;
    color: white;
    border: 2px solid white;
    border-radius: 2rem 3rem;
    font-size: 2.5rem;
    padding: 2rem;


}