@import "./styles/colors.scss"

/* Navbar style */
.navbar{
    background-color: black;
    font: 200 1.2rem $text3;
    height: 2.5rem;
    width: 100%;
    >nav>ul{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 10px;
        >.link{
            color:white;
            text-decoration:none;
            &:hover {
                color: rgb(212, 72, 16)
             }
        }
    }
}


/* footer styles */
.footer{
    background-color: black;
    height: 2.5rem;
    width: 100%;
    >ul{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 10px;
        >li{
            color:white;
            text-decoration:none;
            list-style: none;
            &:hover {
                color: rgb(212, 72, 16)
             }
        }
    }
}